:root {
	--color-white: #ffffff;

	--color-text-basic: #213547;
	--color-text-subtle: lightgray;
	--color-text-error: #ff3e00;
	--color-text-success: #4ade80;

	--color-accent: #2196f3;
	--color-accent-active: #0059ffff;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text-basic);
	background-color: var(--color-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
}

#app {
	width: 100%;
	max-width: 480px;
	background: #f2f2f2;
	border-radius: 24px;
	box-shadow: 0 10px 40px var(--color-text-subtle);
	min-height: 50vh;
	display: flex;
	flex-direction: column;
}

#app > header {
	padding: 1rem 2rem 0;
	margin-bottom: 1rem;
}

#app > main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 0 2rem;
	overflow-y: auto;
}

#app > footer {
	margin-top: 1rem;
	padding: 0 1rem 1rem;
}

button {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid var(--color-accent-active);
	border-radius: 24px;
	background: var(--color-accent);
	color: white;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	transition: background 200ms;
}

button:hover:not(:disabled) {
	background: var(--color-accent-active);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

input {
	padding: 0.5rem;
	border: 1px solid var(--color-white);
	border-radius: 4px;
	background: var(--color-white);
	color: inherit;
	font-size: 1rem;
}

input:active {
	border: 1px solid var(--color-accent-active);
}

input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
